/* .composition__photo {
    width: 55%;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    margin-right: 70px;
    margin-top: 20px;
    margin-left: 40px; 
  }
  .composition__photo--p1 {
      left: 0;
      top: -2rem; }
  .composition__photo--p2 {
      right: 0;
      top: 2rem; }
  .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
  .composition__photo:hover {
      outline: 1.5rem solid #c0e4ebb3;
      transform: scale(1.05) translateY(1.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }
   */